<form action="">
    <div class="form-group">
    <!-- label+input[type='text'].form-control -->
    <label for="firstName">firstname</label>
    <input id= 'firstName' type="text" class="form-control">
</div>
<!-- div.form-group>label[for='comment']+textarea[id='comment'].form-control -->
<div class="form-group">
    <label for="comment">comment</label>
    <textarea id="comment" cols="30" rows="10" class="form-control">    </textarea>
</div>
<button class="btn btn-primary"> submit</button>
</form>