<h3>so how many stars can you give?</h3>

<span 
  class="glyphicon"
  [class.glyphicon-star]="isFav"
  [class.glyphicon-star-empty]="!isFav"
  (click)="onClick()"
  ></span>
  <span 
  class="glyphicon"
  [class.glyphicon-star]="isFav"
  [class.glyphicon-star-empty]="!isFav"
  (click)="onClick()"
  ></span>
  <span 
  class="glyphicon"
  [class.glyphicon-star]="isFav"
  [class.glyphicon-star-empty]="!isFav"
  (click)="onClick()"
  ></span>
  <span 
  class="glyphicon"
  [class.glyphicon-star]="isFav"
  [class.glyphicon-star-empty]="!isFav"
  (click)="onClick()"
  ></span>
  <span 
  class="glyphicon"
  [class.glyphicon-star]="isFav"
  [class.glyphicon-star-empty]="!isFav"
  (click)="onClick()"
  ></span>
  
<!-- 
<a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-certificate"></span> Certificate
        </a> -->