<h3>stars or like ?</h3>
<!-- star assignment -->
<div>
<span class="glyphicon" [class]="'glyphicon-star' + (isFav? '' : '-empty')"></span>
  <span 
  class="glyphicon"
  [class.glyphicon-star]="isFav"
  [class.glyphicon-star-empty]="!isFav"
  (click)="onClick()"
  ></span>
  <span 
  class="glyphicon"
  [class.glyphicon-star]="isFav"
  [class.glyphicon-star-empty]="!isFav"
  (click)="onClick()"
  ></span><span 
  class="glyphicon"
  [class.glyphicon-star]="isFav"
  [class.glyphicon-star-empty]="!isFav"
  (click)="onClick()"
  ></span><span 
  class="glyphicon"
  [class.glyphicon-star]="isFav"
  [class.glyphicon-star-empty]="!isFav"
  (click)="onClick()"
  ></span>
  <!-- 
<a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-certificate"></span> Certificate
        </a> -->
</div>

<!-- heart asssignment -->
<span class="glyphicon glyphicon-heart"
  [class.highlighted]= "!isActive"
  (click) = "onClickHeart()"
  ></span>
<span>{{likesCount}}</span>